# ignore datasets with actual scraped articles
data/archive 
data/raw
data/articles.csv 
data/clean_article_df.csv

# ignore presentation and image files 
presentation/images
presentation/proposal

# ignore todo list
docs/todo.txt

# ignore word embeddings
# use glove.840B.300d.txt
code/website/app/word_embedding

paper/~$utline.docx
paper/docs/~$utline.docx
*.log
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz 
*.nav
*.out
*.snm

*.DS_Store

.ipynb_checkpoints
*.tar.gz
.vscode/
