<!DOCTYPE html>
<html>

<head>
    <title>xyzNews</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
</head>

<body>

    <div class="container"><br>
        <center>
            <h1>xyzNews</h1>
            <h4>Find Yourself</h4>
        </center>
    </div>

    <div class="container">
        <center>
            <form method=post>
                {{ form.csrf }}

                <div class="form-group">
                    <textarea class="form-control" id="article" name="article" rows="20" placeholder="Paste the text from a news article here."></textarea>
                </div>

                <center>
                    <button type="submit" class="btn btn-success">Submit</button>
                </center>
            </form>
        </center>
    </div>

    {% if prediction:  %}
    <div class="container" id="results">
        <center>
            <h1>Results</h1>
        </center>
    </div>

    <div class="container">
        <center>
            {% for source in prediction.keys(): %}
            <p>
                {{ source }}: {{ prediction.get(source) }}
            </p>
            {% endfor %}
        </center>
    </div>
    {% endif %}
</body>

</html>
